<!-- header-->
<%- include('include/_header') %>
<!---Header-->
      <div class="container-fluid page-body-wrapper justify-content-center">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col-md-2 stretch-card grid-margin">
                    <div class="card bg-gradient-blue-dark card-img-holder text-white shadow-lg">
                      <div class="card-body">
                        <h4 class="font-weight-bold mb-3">DEL
                        </h4>
                        <h2 class="text-right">150</h2>
                      </div>
                    </div>
                  </div>
              <div class="col-md-2 stretch-card grid-margin ">
                <div class="card bg-gradient-blue-dark card-img-holder text-white shadow-lg">
                  <div class="card-body">
                    <h4 class="font-weight-bold mb-3">INT
                    </h4>
                    <h2 class="text-right">253</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-blue-dark card-img-holder text-white shadow-lg">
                  <div class="card-body">
                    <h4 class="font-weight-bold mb-3">OOD
                    </h4>
                    <h2 class="text-right">452</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-blue-dark card-img-holder text-white shadow-lg">
                  <div class="card-body">
                    <h4 class="font-weight-bold mb-3">DEX
                    </h4>
                    <h2 class="text-right">787</h2>
                  </div>
                </div>
              </div>

              <div class="col-md-2 stretch-card grid-margin">
                <div class="card bg-gradient-blue-dark card-img-holder text-white shadow-lg">
                  <div class="card-body">
                    <h4 class="font-weight-bold mb-3">NFI
                    </h4>
                    <h2 class="text-right">562</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <div class="card shadow">
                        <div class="card-body">
                            Delevery Status
                        </div>
                    </div>
                </div>
              <div class="col-lg-10">
                <div class="card">
                  <div class="card-body">
                    <div class="">
                      <table class="table table-bordered table-striped ">
                        <thead class="text-muted">
                          <tr>
                            <th> AWB NUMBER </th>
                            <th> TRANSPORTERS </th>
                            <th> SOURCE </th>
                            <th> DESTINATION </th>
                            <th> BRAND </th>
                            <th> START DATE </th>
                            <th> END </th>
                            <th> STATUS </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>NFI</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>OOD</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>DEL</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>DEX</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>NTI</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>DEX</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>NFI</td>
                          </tr>
                          <tr>
                            <td>#5d309ea2048c0a3321692de9</td>
                            <td>68816235</td>
                            <td>Safexpress</td>
                            <td>2019-07-11 00:00:00</td>
                            <td>Out for Delivery</td>
                            <td>WHITEFIELD</td>
                            <td>NEW DELHI</td>
                            <td>OOD</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!----Footer-->
<%- include('include/_footer') %>
<!----Footer---->